.RecipeSearchScreen__Form {
    display: flex;
}

.RecipeSearchScreen__SearchInput {
    border: none;
    color: var(--color-grey-dark);
    display: inline-block;
    flex-grow: 1;
    font-size: calc(10px + 1.2vh);
    line-height: calc(12px + 1.3vh);
    padding: 12px;
}