.RecipeSearchScreen__AddRecipeLink
{
    background: var(--color-primary);
    border: 3px solid var(--color-primary);
    color: white;
    display: inline-block;
    margin-bottom: var(--spacing-md);
    padding: 5px 10px;
    text-decoration: none;
}

.RecipeSearchScreen__AddRecipeLink:hover
{
    background: white;
    color: var(--color-primary)
}