.App {
    background-color: var(--color-primary-light);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
}

.App__Header {
    align-items: center;
    background-color: white;
    color: var(--color-grey-dark);
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    text-align: center;
}

.App__Menu {
    width: 100%;
    text-align: right;
}

.App__Container {
    max-width: 90vw;
    margin: auto;
    padding: var(--spacing-lg) 0;
    width: 1000px;
}

.App__Footer {
    background-color: white;
    color: var(--color-grey-dark);
    flex-grow: 2;
    text-align: center;
}