@import-normalize;

:root {
    --color-primary: #6daeb1;
    --color-primary-light: #eff5f4;
    --color-primary-dark: #2c626e;
    --color-grey-light: #eee;
    --color-grey: #bbb;
    --color-grey-dark: #444;

    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 50px;
}

* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
