@import-normalize;

:root {
  --color-primary: #5F95A1;
  --color-primary--dark: #2C626E;

  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 50px;
}

body {
  color: #333;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PT Serif', 'Times New Roman', 'serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
